<ion-view title="home" hide-nav-bar="true" cache-view="false" nav-transition="none" id="home">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div>
            <img src="img/3kHNHnQARTmLhE47qe4e_ScreenShot2017-03-20at5.44.46PM.png" style="display:block;width:20%;height:auto;">
        </div>
        <form id="home-form4" class="list">
            <div id="home-button-bar3" class="button-bar">
                <a ui-sref="myCard" id="home-button20" class="button button-light  button-block button-outline">My Card.</a>
                <div ng-controller="AuthController">
                    <button id="home-button22" class="button button-light  button-block button-outline" ng-click="logout()">Logout</button>
                </div>
            </div>
            <label class="item item-input" id="home-search1">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="" ng-model="search">
            </label>
            <button id="home-button7" class="button button-light button-small button-block button-outline" ng-click="addTheirCard(search)">Add Their Card.</button>
            <div style='color: "white"'>
                <div ng-repeat="card in savedCards">
                {{card.card.full_name}} {{card.card.phone_number}} {{card.card.title}} {{card.card.business}} {{card.card.email}} {{card.card.linkedin}} {{card.card.social_media}}
                </div>
                    <div ng-repeat="card in cards">
                        {{card.full_name}} {{card.phone_number}} {{card.title}} {{card.business}} {{card.email}} {{card.linkedin}} {{card.social_media}}
                    </div>
            </div>
        </form>
    </ion-content>
</ion-view>
